Package: com.lint.contacttime
Name: ContactTime
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap
Version: 1.0.1
Architecture: iphoneos-arm
Description: Shows contacts' local time according to their timezone.
Maintainer: lint
Author: lint
Section: Tweaks
